### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### sbt ###
project/target/
project/metals.sbt
target/

.metals/
.bloop/
.vscode/
.env

.jvmopts
.direnv

.java-version
project/project
.DS_Store
.bsp
